@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300;400;500;600;700&family=Instrument+Serif:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');
@import "tailwindcss";

@theme {
    /* 1. Define colors with the --color- prefix to create color utilities */
    --color-white: #ffffff;
    --color-black: #000000;
    --color-dark: #1b1d1e;
    --color-grey: #999999;
    --color-grey2: #343434;
    --color-off-white: #CCCCCC;


    --color-yellow-primary: #EB9314;
    --color-purple: #7F4CB6;
    --color-sky-blue: #60C2E6;

    --color-yellow-soft: #f6e683;
    --color-blue-primary: #4928fd;


    /* 2. Define fonts with the --font- prefix to create font utilities */
    --font-sans: "Inter Tight", "Inter Tight Fallback", system-ui, sans-serif;
    --font-serif: "Instrument Serif", "Instrument Serif Fallback", serif;
}

/** { box-sizing: border-box; margin: 0; padding: 0; }*/


body {
    background-color: var(--color-black);
    scroll-behavior: smooth;
    overflow-x: hidden;

}

.char-wrap { overflow: hidden; display: inline-block; }

canvas { display: block; }
